body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    background: rgb(29, 29, 29);
    color: white;
}

.box {
    display: flex;
}

#target {
    margin-left: 10px;
    position: relative;
    color: teal;
}

#target::after {
    content: '';
    position: absolute;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 35px;
    background: teal;
    animation: anim 0.5s linear infinite;
}

@keyframes anim {
    50% {
        opacity: 0.1;
    }
}

button {
    border: solid 2px white;
    padding: 10px 15px;
    border-radius: 30px;
    background: teal;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 5px 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    box-shadow: none;
    transform: translateY(4px);
    color: teal;
    background: white;
    border: solid 2px teal;
}