.section-two {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background: $color1;

    @media screen and (max-width: 916px) {
        display: block;
    }

    .part {
        padding: 50px;
        box-shadow: 0 0 1px 0 gray;
        @include centerChild;
        flex-direction: column;
        gap: 20px;

        h3 {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 30px;
        }

        img {
            width: 100%;
        }

        p {
            text-align: left;
        }
    }
}